<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icase.mapper.DiagnosisMapper">

    <select id="selectDiagnosis" resultType="com.icase.pojo.Diagnosis">
        SELECT dg_no, p_no, dept_no, d_no, symptom, diagnosis, dg_time
        FROM `his-d_his`.his_d_diagnosis
        <where>
            <if test="pNo != null">p_no=#{pNo} </if>
            <if test="dNo != null">AND d_no=#{dNo} </if>
        </where>
    </select>
</mapper>